CGH_QtWidget_Calculator/CGH_QtWidget_Calculator.qrc
CGH_QtWidget_Calculator/.vs/CGH_QtWidget_Calculator/v16/.suo
CGH_QtWidget_Calculator/.vs/CGH_QtWidget_Calculator/v16/Browse.VC.db
CGH_QtWidget_Calculator/.vs/CGH_QtWidget_Calculator/v16/Browse.VC.db-shm
CGH_QtWidget_Calculator/.vs/CGH_QtWidget_Calculator/v16/Browse.VC.db-wal
CGH_QtWidget_Calculator/.vs/CGH_QtWidget_Calculator/v16/Browse.VC.opendb
CGH_QtWidget_Calculator/.vs/CGH_QtWidget_Calculator/v16/ipch/AutoPCH/593b75b6ad6299b3/CGH_QTWIDGET_CALCULATOR.ipch
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWidget_Calculator.exe
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWidget_Calculator.ilk
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWidget_Calculator.log
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWidget_Calculator.obj
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWidget_Calculator.pdb
CGH_QtWidget_Calculator/x64/Debug/main.obj
CGH_QtWidget_Calculator/x64/Debug/moc_CGH_QtWidget_Calculator.obj
CGH_QtWidget_Calculator/x64/Debug/qrc_CGH_QtWidget_Calculator.obj
CGH_QtWidget_Calculator/x64/Debug/qt_work.log
CGH_QtWidget_Calculator/x64/Debug/vc141.pdb
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/CGH_QtWidget_Calculator.lastbuildstate
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/CGH_QtWidget_Calculator.write.1u.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/CL.command.1.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/CL.read.1.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/CL.write.1.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/link.command.1.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/link.read.1.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/link.write.1.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/moc.read.1u.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/moc.write.1u.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/rcc.read.1u.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/rcc.write.1u.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/uic.read.1u.tlog
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/uic.write.1u.tlog
CGH_QtWidget_Calculator/x64/Debug/moc/moc_CGH_QtWidget_Calculator.cpp
CGH_QtWidget_Calculator/x64/Debug/qmake/qtvars_x64_Debug.props
CGH_QtWidget_Calculator/x64/Debug/qmake/temp/.qmake.stash
CGH_QtWidget_Calculator/x64/Debug/qmake/temp/FB89A469-844C-49E9-BB7C-83677E82A29E.CGH_QtWidget_Calculator.designtime.idx
CGH_QtWidget_Calculator/x64/Debug/qmake/temp/Makefile
CGH_QtWidget_Calculator/x64/Debug/qmake/temp/props.txt
CGH_QtWidget_Calculator/x64/Debug/qmake/temp/qtvars.log
CGH_QtWidget_Calculator/x64/Debug/qmake/temp/qtvars.pro
CGH_QtWidget_Calculator/x64/Debug/qmake/temp/qtvars_x64_Debug.props
CGH_QtWidget_Calculator/x64/Debug/rcc/qrc_CGH_QtWidget_Calculator.cpp
CGH_QtWidget_Calculator/x64/Debug/uic/ui_CGH_QtWidget_Calculator.h
CGH_QtWidget_Calculator/x64/Release/qt_work.log
CGH_QtWidget_Calculator/x64/Release/moc/moc_CGH_QtWidget_Calculator.cpp
CGH_QtWidget_Calculator/x64/Release/qmake/qtvars_x64_Release.props
CGH_QtWidget_Calculator/x64/Release/qmake/temp/.qmake.stash
CGH_QtWidget_Calculator/x64/Release/qmake/temp/FB89A469-844C-49E9-BB7C-83677E82A29E.CGH_QtWidget_Calculator.designtime.idx
CGH_QtWidget_Calculator/x64/Release/qmake/temp/Makefile
CGH_QtWidget_Calculator/x64/Release/qmake/temp/props.txt
CGH_QtWidget_Calculator/x64/Release/qmake/temp/qtvars.log
CGH_QtWidget_Calculator/x64/Release/qmake/temp/qtvars.pro
CGH_QtWidget_Calculator/x64/Release/qmake/temp/qtvars_x64_Release.props
CGH_QtWidget_Calculator/x64/Release/rcc/qrc_CGH_QtWidget_Calculator.cpp
CGH_QtWidget_Calculator/x64/Release/uic/ui_CGH_QtWidget_Calculator.h
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWidget_Calculator.Build.CppClean.log
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWidget_Calculator.vcxproj.FileListAbsolute.txt
CGH_QtWidget_Calculator/x64/Debug/CGH_QtWi.FB89A469.tlog/CL.11332.write.1.tlog
