*.ipch
*.log
../Intermediate/
Calculator/.vs/
./Intermediate/
CGH_QtWidget_Calculator/x64/
../Batch/

Intermediate/CGH_QtWidget_Calculator/Debug/
Intermediate/CGH_QtWidget_Calculator/Release/
.vs/
CGH_QtWidget_Calculator/Intermediate/
Bin/